@page "/"
@inject SweetAlertService Swal

<div class="d-flex justify-content-center" Style="animation: slideInLeft 0.5s; animation-delay: 0.1s;">
    <RadzenCard Class="shadow border border-3" Style="animation: slideInLeft 0.5s; animation-delay: 0.1s;">
        <RadzenCard class="shadow border border-3" Style="animation: slideInRight 0.5s; animation-delay: 0.1s;">
            <h3 class="text-center" Style="animation: slideInRight 0.5s; animation-delay: 0.1s;">Formulario de
                NULL....</h3>
        </RadzenCard>
    </RadzenCard>
</div>

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var resultado = await Swal.FireAsync(new SweetAlertOptions
            {
                Title = "Bienvenido!",
                Text = "Este sistema te ayudara a tener un mayor control de tu guarderia",
                Icon = SweetAlertIcon.Success,
                ShowCancelButton = false,
                HeightAuto = true
            });
        }
    }
}




