.page {
  padding-top: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(180deg, rgb(5, 23, 103) 0%, #089767 70%);
  overflow: hidden;
}

.page::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 500px;
  background: linear-gradient(-45deg, transparent 40%, rgba(255, 255, 255, 0.5) 40%, rgba(255, 255, 255, 0.5) 60%, transparent 60%, transparent 80%, rgba(255, 255, 255, 0.5) 80%, rgba(255, 255, 255, 0.5) 100%);
  transform: scaleY(-1);
  animation: wave-animation 2s linear infinite alternate;
  border-radius: 50px;
}

@keyframes wave-animation {
  0% {
    transform: scaleY(-1) translateY(0);
  }

  100% {
    transform: scaleY(-1) translateY(-50px);
  }
}

.page::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 500px;
  background: linear-gradient(45deg, transparent 40%, rgba(255, 255, 255, 0.5) 40%, rgba(255, 255, 255, 0.5) 60%, transparent 60%, transparent 80%, rgba(255, 255, 255, 0.5) 80%, rgba(255, 255, 255, 0.5) 100%);
  transform: scaleX(-1);
  animation: wave-animation 2s linear infinite alternate;
  border-radius: 50px;
}

.row {
  padding-top: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(180deg, rgb(5, 103, 87) 0%, #084b97 70%);
  overflow: hidden;
  align-items: center;
  justify-content: center;
  shape-outside: margin-box 0px 8px 16px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.2);
}

.row::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 500px;
  background: linear-gradient(-45deg, transparent 40%, rgba(255, 255, 255, 0.5) 40%, rgba(255, 255, 255, 0.5) 60%, transparent 60%, transparent 80%, rgba(255, 255, 255, 0.5) 80%, rgba(255, 255, 255, 0.5) 100%);
  transform: scaleY(-1);
  animation: wave-animation 2s linear infinite alternate;
  border-radius: 50px;
}

@keyframes wave-animation {
  0% {
    transform: scaleY(-1) translateY(0);
  }

  100% {
    transform: scaleY(-1) translateY(-50px);
  }
}

.row::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 500px;
  background: linear-gradient(45deg, transparent 40%, rgba(255, 255, 255, 0.5) 40%, rgba(255, 255, 255, 0.5) 60%, transparent 60%, transparent 80%, rgba(255, 255, 255, 0.5) 80%, rgba(255, 255, 255, 0.5) 100%);
  transform: scaleX(-1);
  animation: wave-animation 2s linear infinite alternate;
  border-radius: 50px;
}

.container {
  margin-left: 20px;
}

main {
  flex: 1;
}

.question {
  animation-duration: 1s;
}

.result {
  animation-duration: 1s;
}

.sidebar {
  background-image: linear-gradient(180deg, rgb(78, 27, 119) 0%, #221279 70%);
  border: 4px solid rgb(143, 141, 141);
  border-radius: 5ch;
  overflow: hidden;
  position: relative;
  transition: all 0.5s ease;
  left: 20px;
  z-index: 1;
  width: 100px;
  height: 500px;
  font-size: 10px;
}

.sidebar-content {
  padding: 10px;
}

/* Estilos para el contenido en el main */
.content {
  position: relative;
  z-index: 2;
  /* Asegura que el contenido esté por encima del sidebar */
  animation: slideInUp 0.5s;
  animation-delay: 0.1s;
}

.border-side {
  border: 4px solid rgba(254, 255, 255, 0.74);
  border-radius: 10px;
  overflow: hidden;
}

.top-row {
  background-color: #fffafa;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  margin-left: auto;
  /* Ajusta el margen izquierdo para centrar el elemento horizontalmente */
  border-radius: 50px;
  z-index: 1;
  /* Ajusta el z-index para que el top-row esté por encima de otros elementos */
  overflow: hidden;
  width: 180px;
  height: 70px;
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.2);
  border: 3px solid #9b36afd3;
  shape-outside: margin-box 0px 8px 16px rgba(0, 0, 0, 0.2);
}

.expanded {
  width: 200px;
  height: 200px;
}

.top-row ::deep a,
.top-row .btn-link {
  white-space: nowrap;
  margin-left: 1.5rem;
}

.center-row ::deep a,
.center-row .btn-link {
  white-space: nowrap;
  margin-left: 1.5rem;
}

.component {
  background-color: transparent;
}

.top-row a:first-child {
  overflow: hidden;
  text-overflow: ellipsis;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 300px;
  /* Asegura que el contenedor ocupe al menos el alto especificado */
  border-radius: 30px;
  /* Redondea las esquinas del contenedor */
  overflow: hidden;
  /* Evita que el contenido se desborde */
}

.container .center-content {
  text-align: center;
  /* Centrar contenido en horizontal */
  margin: auto;
  /* Centrar contenido en horizontal */
}

.contain {
  display: flex;
  justify-content: end;
  margin-top: 0px;
  align-items: end;
  min-height: 300px;
  /* Asegura que el contenedor ocupe al menos el alto especificado */
  border-radius: 30px;
  /* Redondea las esquinas del contenedor */
  overflow: hidden;
  /* Evita que el contenido se desborde */
}

.contain .center-content {
  text-align: center;
  /* Centrar contenido en horizontal */
  margin-top: 0px;
  /* Centrar contenido en horizontal */
}

@media (max-width: 640.98px) {
  .top-row:not(.auth) {
    display: none;
  }

  .top-row.auth {
    justify-content: space-between;
  }

  .top-row a,
  .top-row .btn-link {
    margin-left: 0;
  }

  .center-row:not(.auth) {
    display: none;
  }

  .center-row.auth {
    justify-content: space-between;
  }

  .center-row a,
  .center-row .btn-link {
    margin-left: 0;
  }
}

.center-row {
  margin-top: 80px;
  background-color: #3fd4b4bb;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  /* Ajusta el margen izquierdo para centrar el elemento horizontalmente */
  margin-right: 51px;
  /* Ajusta el margen derecho para centrar el elemento horizontalmente */
  margin-bottom: 129px;
  border-radius: 100px;
  overflow: hidden;
  width: 500px;
  height: 400px;
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.2);
  border: 6px solid #26ca41ab;
}

.h3 {
  font-size: 24px;
  color: #333333;
  text-align: center;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 10px;
}

.h5 {
  font-size: 18px;
  color: #333333;
  text-align: center;
  margin: 0;
  padding: 10px;
}

.custom-style {
  background-color: #e40f0ffa;
  color: #333;
  border-radius: 10px;
  box-shadow: 0px 10px 100px rgba(0, 0, 0, 0.2);
  font-family: Arial, sans-serif;
}

@media (min-width: 641px) {
  .page {
    flex-direction: row;
  }

  .center-row {
    flex-direction: row;
  }

  .row {
    flex-direction: row;
  }

  .sidebar {
    width: 220px;
    height: 629px;
    position: sticky;
    top: 0;
  }

  .top-row {
    position: relative;
    top: 0;
    z-index: 1;
  }

  .center-row {
    position: sticky;
    top: 0;
    z-index: 1;
  }

  .top-row,
  article {
    padding-left: 2rem !important;
    padding-right: 1.5rem !important;
  }
}