@inherits LayoutComponentBase
@using Blazored.Toast.Configuration

<PageTitle>Sistema_Guarderia</PageTitle>

<div class="page" Style="animation: slideInLeft 0.5s; animation-delay: 0.1s;">
    <AuthorizeView>
        <Authorized>
            <div class="sidebar" style="animation: slideInUp 0.5s; animation-delay: 0.1s;">
                <NavMenu />
            </div>
            <main>
                <div class="top-row px-4">
                    <LoginDisplay />
                </div>
                <article class="content px-4">
                    @Body
                </article>
            </main>
        </Authorized>
        <NotAuthorized>
            <div class="container row" Style="animation: slideInUp 0.9s; animation-delay: 0.2s; margin-right:303px; margin-left:303px">
                <div class="center-row px-1" Style="animation: slideInDown 0.9s; animation-delay: 0.2s;">
                    <LoginDisplay />
                </div>
            </div>
        </NotAuthorized>
    </AuthorizeView>
</div>
