@inherits LayoutComponentBase

<PageTitle>Sistema_Guarderia</PageTitle>

<div class="page">

    <div class="sidebar" style="animation: slideInUp 0.5s; animation-delay: 0.1s;">
        <NavMenu />
    </div>

    <main>
        <article class="content px-4" style="animation: slideInUp 0.5s; animation-delay: 0.1s;">
            @Body
        </article>
    </main>
</div>
