<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Sistema_Guarderia</a>
    </div>
</div>

<br />
<div class="circular-border">
    <div class="nav-item px-3">
        <RadzenPanelMenu class="flex-column" style="font-size: 12px; border: 1px solid #ccc; border-radius: 5px; padding: 5px; animation: slideInRight 0.5s; animation-delay: 0.1s;"> 
            <div class="nav-item px-3">
                <RadzenPanelMenuItem Text="Inscripcion" Icon="list"
                    style="font-size: 12px; border: 1px solid #ccc; border-radius: 5px; padding: 5px;">
                    <RadzenPanelMenuItem Text="Registro" Path="R_Inscripcion"
                        style="font-size: 10px; border: 1px solid #ccc; border-radius: 2px; padding: 5px;" />
                    <RadzenPanelMenuItem Text="Consulta" Path="C_Inscripcion"
                        style="font-size: 10px; border: 1px solid #ccc; border-radius: 2px; padding: 5px;" />
                </RadzenPanelMenuItem>
            </div>
            <div class="nav-item px-3">
                <RadzenPanelMenuItem Text="Clientes" Icon="people"
                    style="font-size: 12px; border: 1px solid #ccc; border-radius: 5px; padding: 5px;">
                    <RadzenPanelMenuItem Text="Registro" Path="R_Clientes"
                        style="font-size: 10px; border: 1px solid #ccc; border-radius: 2px; padding: 5px;" />
                    <RadzenPanelMenuItem Text="Consulta" Path="C_Clientes"
                        style="font-size: 10px; border: 1px solid #ccc; border-radius: 2px; padding: 5px;" />
                </RadzenPanelMenuItem>
            </div>
            <div class="nav-item px-3">
                <RadzenPanelMenuItem Text="Servicios" Icon="home"
                    style="font-size: 12px; border: 1px solid #ccc; border-radius: 5px; padding: 5px;">
                    <RadzenPanelMenuItem Text="Registro" Path="RServicios"
                        style="font-size: 10px; border: 1px solid #ccc; border-radius: 2px; padding: 5px;" />
                    <RadzenPanelMenuItem Text="Consulta" Path="C_Servicios"
                        style="font-size: 10px; border: 1px solid #ccc; border-radius: 2px; padding: 5px;" />
                </RadzenPanelMenuItem>
            </div>
        </RadzenPanelMenu>
    </div>

</div>

@code {
    private bool collapseNavMenu = true;
    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;
    private string? activeMenuItem = null;
    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}


