.navbar-toggler {
    background-color: rgba(0, 0, 0, 0.7);
    transition: background-color 0.3s ease;
}

.top-row {
    height: 4rem;
    background-color: #333;
    display: flex;
    align-items: center;
    padding: 0 1rem;
    transition: height 0.3s ease;
}

.navbar-toggler {
    background-color: rgba(0, 0, 0, 0.7);
    transition: background-color 0.3s ease;
}

.top-row {
    height: 4rem;
    background-color: #333;
    display: flex;
    align-items: center;
    padding: 0 1rem;
    transition: height 0.3s ease;
}

.navbar-brand {
    font-size: 1.6rem;
    font-weight: bold;
}

.component {
    background-color: transparent;
}

.oi {
    width: 1.5rem;
    font-size: 1.8rem;
    vertical-align: middle;
    margin-right: 8px;
}

.question,
.result {
    animation-duration: 1s;
}

.nav-item {
    font-size: 1.1rem;
    padding: 12px 0;
}

.nav-item:first-of-type {
    padding-top: 1.5rem;
}

.nav-item:last-of-type {
    padding-bottom: 1.5rem;
}

.nav-item ::deep a {
    color: #fcfcfc;
    border-radius: 4px;
    height: 3.8rem;
    display: flex;
    align-items: center;
    padding: 0 1.5rem;
    line-height: 1;
}

.nav-item ::deep a.active {
    background-color: rgba(255, 255, 255, 0.3);
    color: rgba(204, 198, 198, 0.904);
}

.nav-item ::deep a:hover {
    background-color: rgba(255, 255, 255, 0.1);
    background-image: linear-gradient(180deg, rgb(5, 103, 87) 0%, #084b97 70%);
}

.nav-menu.collapse {
    height: 0;
    overflow: hidden;
    transition: height 0.3s ease;
}

.nav-menu:not(.collapse) {
    animation: slideIn 0.3s ease;
}

.border-side {
    border: 4px solid rgba(2, 95, 182, 0.74);
    border-radius: 10px;
}

/*Bordes con curvas*/

.circular-border {
    border-radius: 5%;
    overflow: hidden;
}

.circular-border {
    border-radius: 5%;
    overflow: hidden;
}

@keyframes slideIn {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(0);
    }
}